/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Compass-Sans-Regular";
  src: url('../public/fonts/CompassSans-Regular.ttf');
}

@font-face {
  font-family: "Compass-Serif-Regular";
  src: url('../public/fonts/CompassSerif-Regular.ttf');
}

h1 {    
    font-family: "Compass-Sans-Regular";
    margin: 0;
}
h2 {    
    font-family: "Compass-Sans-Regular";
    margin: 0;
}
h3 {    
    font-family: "Compass-Sans-Regular";
    margin: 0;
}
h4 {    
    font-family: "Compass-Sans-Regular";
    margin: 0;
}
h5 {    
    font-family: "Compass-Sans-Regular";
    margin: 0;
}
h6 {    
    font-family: "Compass-Sans-Regular";
    margin: 0;
}
p {    
    font-family: "Compass-Sans-Regular";

}

.backdrop, .modal {
    display: flex;
    align-items: center;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8823529411764706);
    justify-content: center;
}

.modal {
    width: clamp(50%,700px,90%);
    height: min(50%,300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    flex-direction: column;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}